.checkbox {
    display: flex;
    padding: 9px;

}

.checkbox .text {
    display: flex;
    padding-right: 10px;
    
}

.checkbox input[type="checkbox"] {
    position: relative;
    opacity: 0;
    left: -1px;
    top: 2px;
    cursor: pointer;
}

.checkbox .custom-checkbox {
    position: relative;
    left: -3px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #000000;
}

.checkbox .custom-checkbox input:checked ~ .checked {
    display: flex;
    position: relative;
    bottom: 19px;
    height: 14px;
    width: 14px;
    border-radius: 20px;
    background-color: #000000;
    border: 2px solid #FFF;
    pointer-events: none;
}
